body {
	margin: 0px;
	font-family: 'Tahoma' , sans-serif;
}
img{
	max-width: 100%;
}
#sidebar{
	font-size: 24px;
	height: 460px; /* Высота */
	width: 500px; /* Ширина */

	float: left; /* Левое обтекание */

}
#content {
	font-size: 24px;
	height: 460px; /* Высота */
    width: 500px; /* Ширина */


}
.draggabletr {
	cursor: pointer;
	position: absolute;
	top: 220px;
	
	z-index :100;
  }

  .draggableb {
	cursor: pointer;
	position: absolute;
	top: 220px;
	left: 50px;
	z-index :1000	;
  }

.box{
	height: 60px;
	background-color: #000;
}
.header {
	padding-top: 77px;
	padding-bottom: 96px;
}
.header-text__title{
	margin-bottom: 15px;
font-style: 48px;
font-weight: 700;
}
.header-text__subtitle{
	font-size: 30px;
font-weight: 400;
margin-bottom: 35px;
}
.header-text__descr{
	margin-bottom: 47px;
	font-size: 18px;
font-weight: 400;
line-height: 27px;
}
.header-text__price{
	margin-bottom: 53px; 
	color: #313131;
font-size: 48px;
font-weight: 400;
}
.button{
	margin-bottom: 20px;
	border: 3px solid transparent;
	border-radius: 5px;
	background-color: #1E90FF;
	color: #fff;
	padding: 22px 43px;
	font-size: 24px;
	font-weight: 700;
	margin-right: 40px;
}
.button-o{
	background-color: transparent;
	border: 3px solid #1E90FF;
	color:#1E90FF;
}
  .button:hover {background-color: rgb(29, 136, 223)}
  
  .button:active {
	background-color:rgb(92, 148, 197);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }

.features{
	background-color:#f2f2f2;
	padding-top: 89px;
	padding-bottom: 100px;
	text-align: center;
}
.section-title{
	margin-bottom: 91px;
	font-size: 30px;
font-weight: 700;
}
.features__img{
	min-height: 55px;
}

.features__text{
	margin-bottom: 30px;
	font-size: 18px;
font-weight: 400;
}